/* ---------------CSS Demo Style Sheet----------------- */
/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


/* -----------------Utility Styles---------------------- */

.container{
  width:80vw;
  margin:40px auto;
  max-width:900px;
}

.img-right{
  float:right;
  padding:5px;
  border:1px solid #c0c0c0;
  margin: 10px 0 10px 20px;
}

.img-left{
  float:left;
  padding:5px;
  border:1px solid #c0c0c0;
  margin: 10px 20px 10px 0;
}

.img-center{
  display:block;
  padding:5px;
  border:1px solid #c0c0c0;
  margin: 20px auto;
}



/* -----------------Responsive Styles---------------------- */
img{
  max-width:100%;
  height:auto;
}


/* -----------------Global Styles---------------------- */
body {
    font-family: 'Raleway', Arial, sans-serif;
    margin:0;
}

header.primary{
  background-color:#b76e79;
  text-align:center;
  color:#ffffff;
  text-shadow: 2px 2px #000;
  /* Longform */
  padding-top:40px;
  padding-right:40px;
  padding-bottom:20px;
  padding-left:40px;
  
  /* Shorthand Top/Bottom, Left/Right */
  padding: 20px 40px;
  
  /* Shorthand T,R,B,L */
  padding: 40px 40px 20px 40px;
  background-color: #b76e79;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%239C92AC' fill-opacity='0.25' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  
}

header.primary h1{
  font-size:3.2rem;
  margin:20px 0;
}

header.primary h1 a{
  text-decoration:none;
  color:#ffffff;
}

header.primary h2{
  font-size:2em;
  /*Top | Left\Rigt | Bottom */
  margin:20px auto 40px;
}

header.primary nav{
  width:80vw;
  margin: 20px auto;
  max-width:900px;
}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding:0;
}

header.primary nav ul li{
  list-style-type:none;
  padding:10px;
}

header.primary ul li a:link,header.primary ul li a:link:visited {
  color:#ffff;
  text-decoration:none;
  background-color:#000000;
  background-color:rgba(0,0,0,.4);
  padding: 8px 16px;
  border-radius:20px;
  transition:.5s;
}

header.primary nav ul li a:hover, header.primary ul li a:active{
 background-color:rgba(0,0,0,.8); 
}

#intro{
    border-bottom:1px solid #c0c0c0;
    padding-bottom: 1.5em;
    line-height:50px;
  }
  
#intro p {  
  line-height:1.5em;
}

#intro h2{
  color:#b76e79;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding-bottom:2.6rem;
}

#content article.post{
  width:30%;
  box-shadow: 0 4px 8px rgba(0,0,0,.4);
  padding:.7em;
  transition:5s;
}

#content article.post:hover{
  box-shadow: 0 8px 16px rbgc(0,0,0,.4);
}

#content .post figure{
  margin:0;
}

#content article time, #content article figcaption, #content article footer{
  font-size:.8rem;
  text-transformation:uppercase;
  color:#c0c0c0;
}

#content article img{
  border-radius:4px;
}

.post a:link,.post a:visited{
  color:#b76e79;
}

/*Attribute Selector*/
aside[role="complementary"]{
  background-color:#b76e79;
  color:#ffffffff;
  padding:2.5rem;
}
aside.container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

aside article.widget{
  width: 40%;
}

aside a:link, aside a:visited{
  color:#ffffffff;
  display:block;
  margin-top: 20px;
  letter-spacing: 1.5px;
}

aside a:hover, aside a:active{
  text-decoration:none;
}

aside article footer{
  display:none;
}

footer#colophon{
  background-color: #b76e79;
}

#colophon h6{
  padding:20px;
  margin:0;
  color:#ffffffff;
  text-align:center;
  font-size:.rem;
  text-transform:uppercase;
}

#additional-elements h2{
  
  color:#b76e79;
  bottom-border: 3px double #ffffffff;
  
}

#aditional-elements a:link, #aditional-elements a:visited{
  color:#b76e79;
} 

#aditional-elements a:visited, #aditional-elements a:active{
 text-decoration:none;
} 

#additional-elements h3 {
  border-left: 5px solid #b76e79;
  padding:10px 10px;
}

table {
  width:100%;
  border:1px solid #c0c0c0;
}

table caption {
  color:#b76e79;
  padding:10px;
  font-weight:bold;
  font-size:1.4rem;
}

table tr {
  
}

table tr:nth-child(even){
  background: rgba(0,0,0,.1)
}

table tr:hover{
  background: rgba(0,0,0,.2)
}

table th {
  background-color: #b76e79;
  color:#ffffffff;
  width:33%;
  padding:10px;
  text-align:center;
}

table td {
  border:1px solid #c0c0c0;
  padding:5px;
}

  table caption {
  color:#3b638b;
  padding:10px;
  font-weight:bold;
  font-size:1.4rem;
  }

#additional-elements ol{
  list-style-type:upper-roman;
}

#additional-elements li{
  color:;
}

#additional-elements ul ul{
  list-style-type:square;
}

#additional-elements dl{
  line-height:1.5;
}

#additional-elements dt{
  font-weight:bold;
  font-size:1.2rem;
}

#additional-elements dd{
  margin:0;
}

dd + dt{
  margin-top:1.5rem;
}

#additional-elements blockquote{
  background-color:rgba(0,0,0,.15);
  padding: 40px 60px;
  border:5px double grey;
  border-radius:16px;
  font-size:1.2em;
}

#additional-element cite{
  display:block;
  font-size:1.2em;
  text-align:right;
  margin-top:1.5rem;
  font-weight:bold;
  
}

@media screen and (max-width:690px){
  
  header.primary nav ul {
    flex-direction:column;
    max-width:400px;
    margin:0 auto;
  }
  
  
  header.primary nav a{
    display:block;
  }
}



